<% content_for :title, "Ridings" %>
<div class="container">
  <%= paginate @ridings %>
  <div class="cards">
  <% @ridings.each do |riding| %>
    <div class="card">
      <div class="card-image">
        <%= image_tag riding.photo_url %>
      </div>
      <div class="card-header">
        <%= riding.name %>
      </div>
      <div class="card-copy">
        <p><strong>Population:</strong> 125,000 | <strong>MPP:</strong> <%= riding.member_of_provincial_parliament.full_name %></p>
      </div>
    </div>
  <% end %>
  <%= paginate @ridings %>
  </div>
</div>