<% content_for :title, truncate(@riding.name, length: 22) %>
<div class="container">

  <div id="riding-shape-area">
    <div id="left-arrow">
      <%= link_to previous_riding, :class => "mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent", data: {no_turbolink: true} do %>
        <i class="material-icons">arrow_back</i>
      <% end %>
    </div>

    <div id="shape"></div>

    <div id="right-arrow">
      <%= link_to next_riding, :class => "mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent", data: {no_turbolink: true} do %>
          <i class="material-icons">arrow_forward</i>
      <% end %>
    </div>
  </div>

  <div id="riding-summary-card">
    <div id="mpp-info">
      <%= image_tag @mpp.profile_image %>
      <h6><%= @mpp.full_name %></h6>
      <p>MEMBER OF PROVINCIAL PARLIAMENT</p>
    </div>
    <div id="funding-info">
      <i class="material-icons">local_atm</i>
      <h6><%= number_to_currency(@riding.total_funding) %></h6>
      <p>TOTAL FUNDING FOR ORGANIZATIONS</p>
      <%= link_to riding_organizations_path(id: @riding.id), data: {no_turbolink: true} do %>
        <i class="material-icons navigate-right">navigate_next</i>
      <% end %>
    </div>
    <div id="organizations-info">
      <i class="material-icons">public</i>
      <h6><%= @total_organizations %> Organizations</h6>
      <p>TOTAL NUMBER OF ORGANIZATIONS</p>
      <%= link_to riding_organizations_path(id: @riding.id), data: {no_turbolink: true} do %>
        <i class="material-icons navigate-right">navigate_next</i>
      <% end %>
    </div>
  </div>

</div>