<% content_for :title, "Organizations" %>
<div class="container">
  <%= paginate @organizations %>
  <div class="cards">
  <% @organizations.each do |org| %>
    <%= link_to organization_path(org.id), data: {no_turbolink: true} do %>
      <div class="card">
        <div class="card-header">
          <i class="material-icons">business</i>
          <h6><%= org.name.downcase.split.map(&:capitalize).join(' ') %></h6>
            <!-- <i class="material-icons navigate-right">navigate_next</i> -->
        </div>
        <div class="card-copy">
          <p><strong>Funding:</strong> <%= number_to_currency(org.funding) %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= paginate @organizations %>
  </div>
</div>