<% content_for :title, "Organizations" %>
<div class="container">
  <%= paginate @organizations %>
  <div class="cards">
  <% @organizations.each do |org| %>
    <div class="card">
      <div class="card-header">
      <%= link_to organization_path(org.id), data: {no_turbolink: true} do %>
        <%= org.name %>
      <% end %>
      </div>
      <div class="card-copy">
        <p><strong>Funding:</strong> <%= number_to_currency(org.funding) %></p>
      </div>
    </div>
  <% end %>
  <%= paginate @organizations %>
  </div>
</div>