<!DOCTYPE html>
<html>
<head>
  <title><%= "Funder" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://storage.googleapis.com/code.getmdl.io/1.0.4/material.red-blue.min.css' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"><%= yield :title %></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <%= link_to "My Riding", ridings_path, class: "mdl-navigation__link" %>
        <%= link_to "Ridings", ridings_path, class: "mdl-navigation__link" %>
        <%= link_to "Organizations", organizations_path, class: "mdl-navigation__link" %>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Funder</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">My Riding</a>
      <a class="mdl-navigation__link" href="">Ridings</a>
      <a class="mdl-navigation__link" href="">Organizations</a>
    </nav>
  </div>
  <body>
    <main class="mdl-layout__content">
      <div class="page-content">
        <%= yield %>
      </div>
    </main>
    <%= javascript_include_tag 'https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js' %>
  </body>
</div>
</html>
